body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:5px;
    top:5px;
    width:312px;
    height:739px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:739px;
}

.u1 {
    position:absolute;
    left:2px;
    top:362px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:14px;
    top:31px;
    width:42px;
    height:33px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u3 {
    position:absolute;
    left:51px;
    top:66px;
    width:98px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u4 {
    position:absolute;
    left:262px;
    top:340px;
    width:49px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u5 {
    position:absolute;
    left:167px;
    top:493px;
    width:98px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u6 {
    position:absolute;
    left:58px;
    top:493px;
    width:98px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:15px;
    top:388px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u8 {
    position:absolute;
    left:14px;
    top:107px;
    width:123px;
    height:116px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u9 {
    position:absolute;
    left:11px;
    top:672px;
    width:301px;
    height:49px;
    overflow:hidden;
}

#pd1u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:49px;
    
}

.u10_normal {
    background-image: url('../Album_Detail___open_album_bin_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:5px;
    width:300px;
    height:45px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:45px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:280px;
    top:8px;
    width:16px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:49px;
    
}

.u13_normal {
    background-image: url('../Album_Detail___open_album_bin_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:5px;
    width:300px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:45px;
}

.u14 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:280px;
    top:8px;
    width:16px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

